app/WebViewGoogle/WebViewGoogle.apk filter=lfs diff=lfs merge=lfs -text
app/Photos/Photos.apk filter=lfs diff=lfs merge=lfs -text
data-app/Browser/Browser.apk filter=lfs diff=lfs merge=lfs -text
priv-app/Velvet/Velvet.apk filter=lfs diff=lfs merge=lfs -text
app/Chrome/Chrome.apk filter=lfs diff=lfs merge=lfs -text
